h1 {
    color: green;
}

p {
    font-size: small;
    font-family: sans-serif;
}

h1 {
    margin: 2em;
}

/* ini merupakan komentar satu baris */

/* CSS juga mendukung komentar lebih dari satu baris,
seluruh teks yang berada pada pembuka dan penutu[ sebuah komentar
akan di abaikan oleh browser sebagai compiler.
*/

p {
    font-size: small;


    /* memilih sans-serif sesuai hasil diskusi klien pada 2 Januari 2021 */
    font-family: sans-serif;
}