/*Example Type Selector*/
/* Semua elemen span */
span {
    color: red;
}

/*Example Class Selector*/
.red {
    color: red;
}

.skyblue-bg {
    background:skyblue;
}

.fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
}

/*Example*/
p.fancy {
    text-shadow: 4px 4px 3px #00c8eb;
}