#special {
    background-color: skyblue;
}

/*Attribut Selector*/
/* <a> element yang menerapkan href attribute */
a[href] {
    color: blue;
}

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^='#'] {
    background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*='example'] {
    background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*='insensitive' i] {
    color: cyan;
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$='.org'] {
    color: red;
}

/*Universal Selector*/
/*menargetkan seluruh tipe elemen*/
* {
    color: green;
}

/*Menargetkan seluruh tipe elemen yang mengandung nilai "en" pada atribut lang*/
*[lang^='en'] {
    font-style:italic;
}

/*Menargetkan seluruh tipe elemen yang memiliki nilai "warning" pada atribut class*/
*.warning {
    color: red;
}

/*Menargetkan seluruh tipe elemen yang memiliki nilai "content" pada atribut id*/
*#content {
    border: 1px solid blue;
    padding: 20px;
}